body{
    background-image: url('images/ny.jpg');
    background-color: #8ca5bf;
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;		
}
img.header{
    border-width:0px;
}
h2{
    font: 50px Gill Sans;
    color:#ffffff;
    text-align:center;
}
img.frame{
    border: 5px solid #0259b6;
}

#footer{
    width:100%;
    bottom:0px;
    left:0px;
    background-color:#3d4b63;
    height:40px;
    border-left:2px solid #3d4b63;
    border-right:2px solid #3d4b63;
}
#footer p{
    font: 20px Gill Sans;
    color:#ffffff;
    text-align: center;
    line-height:40px;
}
p.center_align{
    font: 20px Gill Sans;
    color:#ffffff;
    background-color: #0259b6;
    padding: 10px;
    text-align: center;   
}
p.left_align{
    font: 20px Gill Sans;
    color:#ffffff;
    background-color: #0259b6;
    padding: 10px;
    text-align: left;
}
ul{
    background-color: #0259b6;
    font: 20px Gill Sans;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul.nav {
    background-color: #3d4b63;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:#ffffff;
}
li.nav {
    float:left;
}
a:link{
    color:#6d8088;
}
a:visited{
    color:#0000cc;
}
a:hover{
    color:#8799e9;
}
a:active{
    color:#0000cc;
}
a.nav:link{
display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a.nav:visited{
    color:white;
}
a.nav:hover{
    color:#0259b6;
}a.nav:active{
    color:#0259b6;
}

